<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rat Detection UI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <div class="topnav" id="myTopnav">
    <div style="zoom:80%;height: 120vh;
    width: auto;
    background-image: url(/static/images/bg.png);
    background-position: center;
    background-size: cover;
    padding-right: 3%;
    padding-left: 5%;
    box-sizing: content-box;
    position: relative;">
      <!-- <a style="background-color: #03acef;
      padding: .5em;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 6px;
      color: rgb(0, 0, 0);
      font-family: 'Oswald';
      font-size: 20px;
      text-decoration: none;
      border: none;
      margin: auto;align-items: center;display: flex;
      "href="{{ url_for('rat')}}"> Pest Detection </a> -->  
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a style="font-size:40px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cloud Computing : Pest Detection </a>
<br>
<br>
<br>
<br>
<br>
<a style="font-size:30px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Team(6) : Anish Pokhrel, Arpan Kumar, Ashlesh Mithur, Deepak Kumar, Nidhi Nayak, Pushpita Sarkar, Shobhit Tiwari</a>
<br>
<br>
<br>
<br>
<br>
<a style="font-size:30px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Under the Guidance of :- Prof. Dr. Christian Baun</a>
  <br>
  <br>
  <br>
  <br>
  <a style="background-color: #03acef;
      padding: .5em;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 6px;
      color: rgb(0, 0, 0);
      font-family: 'Oswald';
      font-size: 27px;
      text-decoration: none;
      border: none;
      margin: 0 auto;align-items: center;display: block;align-items: center;margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 789px;
      "href="{{ url_for('rat')}}"> Rat Detection </a>
    </div>
  </div>
</html>