<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
	<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<title>Detection</title>
</head>

<body>
	<div class="container" style="float:left;
overflow-y: auto;
height: 1008px;width:1890px;">
  <h1><center>Rat Detection</center></h1>
		<script>
		// JS code...
		$(document).ready(function() {
			$('#example').DataTable();
		});
		</script>
		<table id="example" class="table table-striped table-bordered" style="border-radius: 6px;width:100%;background-color: #109cd3;color: rgb(0, 0, 0);">
			<thead>
				<tr>
					<th>S.No</th>
					<th>Name</th>
					<th>Type</th>
					<th>Confidence Level</th>
					<th>Date</th>
					<th>View</th>
				</tr>
			</thead>
			<tbody> {% for data_json in data_json1 %}
				<tr>
					<td>{{ data_json.id}}</td>
					<td>
						<p>{{ data_json.name }}</p>
					</td>
					<td>{{ data_json.type}}</td>
					<td>{{ data_json.confidenceLevel}}</td>
					<td>{{ data_json.createdDate}}</td>
					<td>
						 <!-- <form action="{{ url_for('rat') }}" method=post>
							<dd>
								<input type=submit style="background-color: #109cd3;
                      padding: .5em;
                      -moz-border-radius: 5px;
                      -webkit-border-radius: 5px;
                      border-radius: 6px;
                      color: rgb(0, 0, 0);
                      font-family: 'Oswald';
                      font-size: 20px;
                      text-decoration: none;
                      border: none;
                      margin: auto;align-items: center;display: flex;
                      " value=View> </form>  -->
					  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{loop.index}}">view</button>
					</td>
				</tr> {% endfor %} </tbody>
		</table>
	</div>
	{% for img_url in img_urls %}
	<!-- Modal -->
	<div class="modal" id="myModal{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">Detected Image</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
			</div>
			<div class="modal-body">
				<img src="{{ img_url }}" alt="Image from JSON" width="425" height="450">
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
	</div>

{% endfor %}
</body>
</html>